<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-warning">
    <ul class="navbar-nav navbar-collapse justify-content-left">
      <li>
        <a routerLink="/" class="nav-link text-white">Canteen Registration</a>
      </li>
    </ul>

    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li>
        <a routerLink="/login" class="nav-link text-white">{{username}}</a>
      </li>
      <li>
        <a href="https://www.syngenta.com" class="nav-link text-white">Syngenta</a>
      </li>
    </ul>

  </nav>
</header>
